@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: white;
}

main.principal {
    border-radius: 10px;
    background-color: white;
    margin: auto;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: normal;
}

p {
    font-size: 0.9em;
    text-align: justify;
}

strong {
    color: rgba(14, 13, 13, 0.945);
}

header {
    padding: 0px;
}

header > div.img {
    display: block;
    background: url(../imagens/image-omelette.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    margin-bottom: 20px;
}

header > h1 {
    font-size: 1.9em;
    width: 80vw;
    margin: auto;
    margin-bottom: 10px;
}

header > p {
    width: 80vw;
    margin: auto;
    display: block;
}

article > div.preparation {
    margin: 30px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(194, 100, 163, 0.233);
}

article > div.preparation > h3 {
    color: hsl(332, 51%, 32%);
    margin: 10px 0px;
}

article > div.preparation > ul {
    list-style: none;
    padding-left: 0px;
}

article > div.preparation > ul > li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-family: "Outfit", sans-serif;
}

article > div.preparation > ul > li:before {
    content: '\2022';
    position: absolute;
    left: 0;
    color: hsl(332, 51%, 32%);
    font-size: 1.3em;
    line-height: 1;
}

article > div.preparation > ul > li.pmeio:before {
    top: 0.5em;
}

article > div.ingredientes {
    margin: 0px 20px;
    margin-top: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.247);
}

article > div.ingredientes > h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
    color: hsl(14, 45%, 36%);
}

article > div.ingredientes > ul {
    list-style: none;
    padding-left: 0px;
}

article > div.ingredientes > ul > li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    font-family: "Outfit", sans-serif;
}

article > div.ingredientes > ul > li:before {
    position: absolute;
    content: '\2022';
    left: 0;
    font-size: 1.3em;
    color: hsl(14, 45%, 36%);
    line-height: 1;
    margin-left: 6px;
}

article > div.ingredientes > ul > li.pmeio:before {
    top: 0.5em;
}

article > div.instrucoes {
    margin: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.247);
}

article > div.instrucoes > h2 {
    font-size: 1.6em;
    color: hsl(14, 45%, 36%);
    margin-bottom: 15px;
    margin-left: -25px;
}

article > div.instrucoes > ol > li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 1.1em;
    font-weight: bold;
}

article > div.instrucoes > ol > li {
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: justify;
}

article > div.nutricao {
    margin: 0px 20px 20px 20px;
}

article > div.nutricao > h2 {
    font-size: 1.6em;
    color: hsl(14, 45%, 36%);
    margin-bottom: 15px;
}

article > div.nutricao > p {
    width: 80vw;
    margin-bottom: 10px;
}

article > div.nutricao > table {
    width: 80vw;
    margin: auto;
    border-collapse: collapse;
}

article > div.nutricao > table > tr, td {
    border-bottom: 1px solid rgba(17, 17, 17, 0.247);
    padding: 10px;
    font-family: "Outfit", sans-serif;
}

article > div.nutricao > table > tr, td.nome {
    padding-left: 30px;
}

td.quant {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}